<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <img src="image.png" alt="logo">
    </header>
    <nav>
        <ul>
            <li><a href="#about-ai">About AI</a></li>
            <li><a href="#our-services">Our Services</a></li>
            <li><a href="#ai-technology">Login</a></li>
            <li><a href="#team">Our Team</a></li>
            <li><a href="#contact-us">Contact Us</a></li>
        </ul>
    </nav>
    <main>
        <section id="about-ai">
            <h2>About AI</h2>
            <p>Artificial intelligence is revolutionizing healthcare, allowing early diagnosis, personalized treatment, and better patient outcomes.</p>
            <p>The Medical Ai comes with a 24/7 support of the Doctors and also all the current illness of the patient.</p>
            <p>The AI has an emergency system if, the patient has a slight effect of the illness and will immediately be notified to the hospital, ambulance and the current doctors and nurse taking care of the patient.</p>
        </section>
        <section id="our-services">
            <h2>Our Services</h2>
            <p>Discover the different AI services we offer to improve patient care and clinic efficiency</p>
            <p>We provide the contacts of the best doctors available for the current needs of the patient.</p>
            <p>We also provided 24/7 monitoring of the patient by our state of the art AI which keeps an eye on all the vitals of the patient.</p>
            <p></p>
        </section>
        <section id="team">
            <h2>Our Team</h2>
            <p>
                We have painstakingly developed this Medical Ai to help our society to grow and save lives. Following are the developers of MY CARE
            </p>
            <ul>Neal Parmar - Website Designer</ul>
            <ul>Raahim Shaik - AI Enginneer</ul>
            <ul>Vedanga Bendre - CyberSecuirty Analyst</ul>
            <ul>Taufiq Hashmi - Content Creator</ul>
        </section>
        <section id="contact-us">
            <h2>Contact Us</h2>
            <p>Reach out to us for more information or to schedule a consultation.</p>
            <form>
                <input type="text" name="name" placeholder="Name" required />
                <br>
                <input type="email" name="email" placeholder="Email" required />
                <br>
                <textarea name="message" placeholder="Message" required></textarea>
                <input type="submit" value="Send" />
            </form>
        </section>
    </main>
    <footer>
        <p>©2024 Medical AI - All Rights Reserved.</p>
    </footer>
</body>
</html>