<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
</head>
<body>
    <header>
        <h1>Dr. David Mattre</h1>
        <p>MBBS,MD (Medicine)</p>
    </header>
    <nav>
        <a href="#dashboard">Dashboard</a> |
        <a href="#appointment">Appointment</a> |
        <a href="#payment">Payment</a> |
        <a href="#total-patients">Total Patients</a> |
        <a href="#today-patients">Today's Patients</a>
    </nav>
    <section id="dashboard">
        <h2>Dashboard</h2>
        <p>Total Patients: 2000+ (Till Today)</p>
    </section>
    <section id="appointment">
        <h2>Appointment</h2>
        <p>Today's Appointments: 085</p>
        <h3>Next Patient Details</h3>
        <p><strong>Name:</strong> Sanath Deo</p>
        <p><strong>Diagnosis:</strong> Health Cheakup</p>
        <p><strong>On Going:</strong> D. O.B</p>
        <p><strong>DOB:</strong> 15 January 1989</p>
        <p><strong>Sex:</strong> Male</p>
        <p><strong>Appointment Time:</strong> 12:30 PM</p>
        <p><strong>Last Appointment:</strong> 15 Dec - 2021</p>
        <!-- Add more patient details here -->
    </section>
   <section id="payment">
     <h2> Payment</h2>
     <p> Payment can be done with the following methods:</p>
     <a href="https://www.gmail.com"><button type="button"><strong>Google Pay</strong></button></a>
     <a href="https://www.gmail.com"><button type="button"><strong>Paytm</strong></button></a>
     <a href="https://www.gmail.com"><button type="button"><strong>Credit Card</strong></button></a>
     <a href="https://www.gmail.com"><button type="button"><strong>Debit Card</strong></button></a>
   </section> 
  <section id="total-patients">
    <h2>Total patients</h2>
    <p>365 patients <b>Cured</b></p>
    <p>129 patients still in treatment</p>
    <p><strong>Total :- </strong>494 patients</p>
  </section>
  <section id="today-patients">
    <h2>Today's Patient' </h2>
    <div>
      <p><strong>Name:</strong> Sunil Shetty</p>
        <p><strong>Diagnosis:</strong> Cancer</p>
        <p><strong>DOB:</strong> 15 January 1956</p>
        <p><strong>Sex:</strong> Male</p>
        <p><strong>Appointment Time:</strong> 12:30 PM</p>
        <p><strong>Last Appointment:</strong> 15 Dec - 2023</p>
    </div>
    <div>
      <p><strong>Name:</strong> Vedanga Bendre</p>
        <p><strong>Diagnosis:</strong>Piles</p>
        <p><strong>DOB:</strong> 20 October 2001</p>
        <p><strong>Sex:</strong> Male</p>
        <p><strong>Appointment Time:</strong> 3:30 PM</p>
        <p><strong>Last Appointment:</strong> 19 Jan - 2024</p>
    </div>
  </section>
  <footer>©2024 Medical AI MY CARE </footer>
</body>
</html>